<div class="row">
    <div class="social-networks">
        <div class="container">
            <hr style="height: 1px;background: black">
            <div class="row-center">
                <div class="social-hidden">
                     <div class="col-sm-1">
                         <a class="" href="http://www.youtube.com/travelbuenosaires" target="_blank"><img src="{{baseURL}}assets/img/icons/youtube.png" alt="Youtube"/></a>
                     </div>
                    <div class="col-sm-1">
                        <a class="" href="https://www.instagram.com/travelbuenosaires" target="_blank"><img src="{{baseURL}}assets/img/icons/instagram.png" alt="Imstagram"/></a>
                    </div>
                    <div class="col-sm-1">
                        <a class="" href="https://www.facebook.com/travelbuenosaires" target="_blank"><img src="{{baseURL}}assets/img/icons/facebook.png" alt="Facebook"/></a>
                    </div>
                    <div class="col-sm-1">
                        <a class="" href="https://www.twitter.com/travelbaires" target="_blank"><img src="{{baseURL}}assets/img/icons/twitter.png" alt="Twitter"/></a>
                    </div>
                    <div class="col-sm-1">
                        <a class="" href="https://www.flickr.com/photos/travelbuenosaires/" target="_blank"><img src="{{baseURL}}assets/img/icons/flickr.png" alt="Flickr" class="img-flicks"/></a>
                    </div>
                </div>
                <div class="row">
                    <div class="social-mobile">
                        <ul>
                            <li>
                                <a class="" href="http://www.youtube.com/travelbuenosaires" target="_blank"><img src="{{baseURL}}assets/img/icons/youtube.png" alt="Youtube"/></a>
                            </li>
                            <li>
                                <a class="" href="https://www.instagram.com/travelbuenosaires" target="_blank"><img src="{{baseURL}}assets/img/icons/instagram.png" alt="Imstagram"/></a>
                            </li>
                            <li>
                                <a class="" href="https://www.facebook.com/travelbuenosaires" target="_blank"><img src="{{baseURL}}assets/img/icons/facebook.png" alt="Facebook"/></a>
                            </li>
                            <li>
                                <a class="" href="https://www.twitter.com/travelbaires" target="_blank"><img src="{{baseURL}}assets/img/icons/twitter.png" alt="Twitter"/></a>
                            </li>
                            <li>
                                <a class="" href="https://www.flickr.com/photos/travelbuenosaires/" target="_blank"><img src="{{baseURL}}assets/img/icons/flickr.png" alt="Flickr" class="img-flicks"/></a>
                            </li>
                        </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="footer-nav">
        <div class="row">
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <h4 class="collapsable-button">{{t 'footer.ba-tours'}}<span class="icon"></span></h4>
                    <ul class="list-unstyled collapsable-toggle">
                        <li><a href="{{baseURL}}{{url.how-it-works}}">{{t 'how-it-works.title'}}</a></li>
                        <li><a href="{{baseURL}}{{url.about-us}}">{{t 'about-us.title'}}</a></li>
                        <li><a href="{{baseURL}}{{url.terms-and-conditions}}">{{t 'terms-and-conditions.title'}}</a></li>
                        <li><a href="{{baseURL}}{{url.faq}}">{{t 'faq.title'}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                     <h4 class="collapsable-button">{{t 'footer.add-your-experiences'}}<span class="icon"></span></h4>
                     <ul class="list-unstyled collapsable-toggle">
                        <li><a href="{{baseURL}}{{url.how-to-publish}}">{{t 'how-to-publish.title'}}</a></li>
                        <li><a href="https://gcba.zelzetpro.com/" target="_blank">{{t 'provider.title'}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4 class="collapsable-button">{{t 'footer.tools'}}<span class="icon"></span></h4>
                     <ul class="list-unstyled collapsable-toggle">
                         <!--<li><a href="https://turismo.buenosaires.gob.ar/es/basic-page/planner" target="_blank">{{t 'plan.title'}}</a></li>-->
                         <li><a href="https://turismo.buenosaires.gob.ar/es/article/app-travel-buenos-aires" target="_blank">{{t 'travel-app.title'}}</a></li>
                     </ul>
                </div>
                <div class="col-sm-3">
                      <a href="https://turismo.buenosaires.gob.ar/" target="_blank" rel="nofollow" class="footer-brand"><img src="{{baseImageURL}}/logo-alt.png" alt="Turismo Ciudad de Buenos Aires" class="img-responsive"></a>
                </div>
            </div>
        </div>
        <!--
        <div class="row footer-nav-logo">
            <div class="col-sm-12">
                 <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                      <a href="https://turismo.buenosaires.gob.ar/" target="_blank" rel="nofollow" class="footer-brand"><img src="{{baseImageURL}}/logo-alt.png" alt="Turismo Ciudad de Buenos Aires" class="img-responsive"></a>
                  </div>
                   <div class="col-sm-4"></div>
            </div>
        </div>
        -->
    </div>
</div>
