<section class="activity-collection-item-title-only">
    <!--<h4>{{t 'home.slider.title'}}</h4>-->
    <h4>{{name}}</h4>
    <!--<h3>{{name}}</h3>-->
    <div class="discovery-btn">
        <a class="btn btn-lg btn-primary" href="{{baseURL}}activities/{{public_code}}">{{t 'home.slider.discovery'}}</a>
    </div>
</section>
