<div class="container ">
    <div class="row payment">
        <div class="col-sm-6 col-md-7">
            <h1>{{t 'payment.please-fill-info'}}</h1>
            <p>{{t 'payment.required-info'}}</p>
            <div id="payment-form-container"></div>
            <br>
        </div>
        <div id="reservation-resume-container"></div>
    </div>
    <hr>
    <div class="steps-after-reservation">
        <h2 class="h1">{{t 'payment.after-booking.title'}}</h2>
        <ol class="list-numbered">
            <li>{{t 'payment.after-booking.email-info'}}</li>
            <li>{{t 'payment.after-booking.provider-notification'}}</li>
            <li>{{t 'payment.after-booking.provider-contact-info'}}</li>
        </ol>
    </div>
    <hr>
    <div>
    	<p>{{t 'payment.disclaimer'}}</p>
    </div>
</div>