<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">{{t 'activity.cancelation-policies.title'}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
        <div class="modal-body">
            <hr>
            <h4 style="color: #c32f23;">{{t 'activity.cancelation-policies.super-flexible.title'}}</h4>
            <p>{{t 'activity.cancelation-policies.super-flexible.description'}}</p>
            <h4 style="color: #c32f23;">{{t 'activity.cancelation-policies.flexible.title'}}</h4>
            <p>{{t 'activity.cancelation-policies.flexible.description'}}</p>
            <h4 style="color: #c32f23;">{{t 'activity.cancelation-policies.moderated.title'}}</h4>
            <p>{{t 'activity.cancelation-policies.moderated.description'}}</p>
            <h4 style="color: #c32f23;">{{t 'activity.cancelation-policies.strict.title'}}</h4>
            <p>{{t 'activity.cancelation-policies.strict.description'}}</p>
            <h4 style="color: #c32f23;">{{t 'activity.cancelation-policies.super-strict.title'}}</h4>
            <p>{{t 'activity.cancelation-policies.super-strict.description'}}</p>
            <hr>
            <h5>{{t 'activity.cancelation-policies.disclaimer.title'}}</h5>
            <p>{{t 'activity.cancelation-policies.disclaimer.description'}}</p>
        </div>
    </div>
</div>
