<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">{{t 'activity.confirmation-types.title'}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
        <div class="modal-body">
            <hr>
            <h4 style="color: #c32f23;">{{t 'activity.confirmation-types.instant.title'}}</h4>
            <p>{{t 'activity.confirmation-types.instant.description'}}</p>
            <h4 style="color: #c32f23;">{{t 'activity.confirmation-types.manual.title'}}</h4>
            <p>{{t 'activity.confirmation-types.manual.description'}}</p>
            <h4 style="color: #c32f23;">{{t 'activity.confirmation-types.minimum-quota.title'}}</h4>
            <p>{{t 'activity.confirmation-types.minimum-quota.description'}}</p>
            <hr>
            <h5>{{t 'activity.confirmation-types.disclaimer.title'}}</h5>
            <p>{{t 'activity.confirmation-types.disclaimer.description'}}</p>
        </div>
    </div>
</div>