<li>
    <a class="activity-collection-item activity-collection-item-normal" href="{{baseURL}}{{activityURL}}/{{item.code}}">
        <div class="item-media-wrapper">
            <div>
                <img src="{{item.image}}" alt="{{item.title}}">
            </div>
        </div>
        <div class="item-body-other">
            <div class="item-info">
            </div>
            <div class="item-footer-other">
                <div class="item-title-other"><h4>{{item.title}}</h4></div>
                <!--<div class="item-pricing-provider">
                    <img src="{{baseURL}}assets/img/icons/carrito.png" alt="Carrito"/>
                </div>-->
            </div>
        </div>
    </a>
</li>